<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>EmployeeLoginServlet</servlet-name>
        <servlet-class>org.example.EmployeeLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeLoginServlet</servlet-name>
        <url-pattern>/EmployeeLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddExpenseRequestServlet</servlet-name>
        <servlet-class>org.example.AddExpenseRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpenseRequestServlet</servlet-name>
        <url-pattern>/AddExpenseRequestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllPendingRequestsServlet</servlet-name>
        <servlet-class>org.example.AllPendingRequestsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllPendingRequestsServlet</servlet-name>
        <url-pattern>/AllPendingRequestsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewRequestHistoryServlet</servlet-name>
        <servlet-class>org.example.ViewRequestHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRequestHistoryServlet</servlet-name>
        <url-pattern>/ViewRequestHistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PendingRequestApprovals</servlet-name>
        <servlet-class>org.example.PendingRequestApprovals</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PendingRequestApprovals</servlet-name>
        <url-pattern>/PendingRequestApprovals</url-pattern>
    </servlet-mapping>
</web-app>